/* BASE => peut être à bidouiller si besoin*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
  --ivoire: #fcfced;
  --violet: #8e00ff;
}
html {
	overflow: hidden;
	-ms-touch-action: none;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	background: var(--violet);
}

body {
	font-size: 12px;
	font-family: ubuntu, helvetica, arial;
/*	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
/* COUV ------------*/

.couv{
	background-color: var(--violet);
	width: 100vw;
	height: 100vh;
	position: relative;
	top:0px;
	left:0px;
	z-index: 3;
}

.edito{
	background-color: var(--violet);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	top:0px;
	left:0px;
	padding:0% 2%;
	overflow-y:auto;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.edito p{
	margin-top: 1%;
	color: var(--ivoire);
	font-size: 50pt;
	font-family: 'Redaction 20';
	font-style: italic;
}

.edito::-webkit-scrollbar{
      display: none;  /* Safari and Chrome */
}
/*SCROLL--------------------------------------*/

.wrapper {/*conteneur*/
	position: absolute;
	z-index: 1;
	width: 82%;
	height: 100%;
	top: 0;
	right: 0;
	background: var(--ivoire);
	overflow: hidden;
	border: 10px solid #8e00ff;
}

.scroller {/*"carte" du scroll*/
	position: absolute;
	z-index: 1;
	width: 4000px;
	height: 4000px;
	background: var(--ivoire);
  /*bcp de paramètre que j'ai copié collé*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

/*TITRE IMG----------------------------*/
.burger{display: none;height:5%}
#zoomplus {display: none}
/*#zoomburger {display: none;height:5%}*/

.menu-artistes{
	padding-top:0%;
	padding-left: 1%;
	width: 20%;
}
.menu-artistes .lamue{
	position: relative;
	vertical-align: top
	line-height: 10px;
	color:var(--ivoire);
	font-size: 50pt;
	text-align: left;
	font-family: 'Redaction 10';
	font-weight: normal;
	margin: 0px;
}
.menu-artistes .lamue b{
	font-family: 'Redaction 50';
	font-weight: normal;
}
.menu-artistes .liquide{
	display: inline-flex;
	color:var(--black);
	font-size: 34pt;
	font-family: 'Redaction 20';
	font-weight: normal;
	font-style: italic;
	vertical-align: top;
	margin-top: -5%;
	margin-bottom: .8%;
}
#titre1{
	position: relative;
	width: 95%;
	margin-top: 1%;
	margin-left: 1%;
}
/*les textes clickables----------------*/
.bookmarks{visibility:hidden;opacity: 0%;height:0px;}
.bookmarksweb{
	z-index: 2;
	position: fixed;
	top:-2.5%;
	left:19.5%;
	padding:0%;
	font-size: 2.3vw;
	background-color: transparent;
	font-family: 'Redaction 20';
}

.bookmarksweb li{
  list-style: none;
	margin: 5px 0;
	color:black;
}

.bookmarksweb a{
	color:black;
	background-color: transparent;
  font-family:'Redaction 20';
  text-decoration: none;
}

.bookmarksweb a:hover{
	cursor: pointer;
  font-family:'Redaction 50';
	font-style: italic;
}

.bookmarksweb a:active{
  font-family:'Redaction 50';
	font-style: italic;
	color: black;
}
/*OURS-------------------------------*/
.pours{margin-top:-7%;}
.pours h2:first-of-type{
	margin-top:0px;
}
.pours h2{
	margin-top:20px;
	margin-bottom: 10px;
	font-size: 18pt;
	color: var(--ivoire);
	font-family: 'Redaction 50';
	font-weight: normal;
}
.pours ol{
	display: block;
	font-size: 13pt;
	padding: 0px;
	color: var(--ivoire);
	font-family: 'Redaction';
	font-weight: normal;
	margin:0px;
	list-style: none;
}

	.pours ol li a{
		color:var(--ivoire);
		  font-family:'Redaction 20';
		text-decoration: none;
	}
	.pours ol li a:hover{
		color:var(--ivoire);
		  font-family:'Redaction 50';
			font-style: italic;
		text-decoration: none;
	}
	.pours ol li a:active{
		color:black;
		  font-family:'Redaction 50';
			font-style: italic;
		text-decoration: none;
	}
/*les images-------------------------------*/
.temp a{
	color: var(--ivoire);
}
.temp a:active{
	color: var(--ivoire);
	text-decoration: overline;
}
.navigation{
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
.scroller img{
  mix-blend-mode:darken;
  position: fixed;
}
#adelie{
	width: 10%;
	top:5%;
	left:20%;
}
#mina{
	width: 13%;
	top:45%;
	left:55%;
}
#maude{
	width: 15%;
	top:20%;
	left:30%;
}
#carlaetco{
	height: 20%;
	top:20%;
	left:80%;
}
.pjs,#holder{
	position: fixed;
	top:50%;
	left:10%;
	height: 500px;
	width: 500px;
	border-color: var(--ivoire);
}

#phili {width:10%;
	bottom:15%;
	left:35%;
}

#marjo {width:15%;
	top:5%;
	left:55%;
}

#axel {width:10%;
	bottom:10%;
	right:10%;
}
/*#image{
	width: en %; ou height
	top: en %;
	left:en %;
}*/

button {background: black;border: 1px solid black;box-shadow: none;border-radius: 0px;}
