@media only screen and (max-width: 800px){
	/* COUV ------------*/
	.couv{
		background-color: var(--violet);
		width: 100%;
		position: absolute;
		top:0px;
		left:0px;
    z-index: 5;
	}
  /*EDITO ---------------*/
  .edito{
    background-color: var(--violet);
    width: 100%;
    height: 100%;
		position: fixed;
    z-index: 4;
		top:0px;
		left:0px;
    padding:0% 2%;
		overflow-y:auto;
  }
  .edito p{
    margin-top: 1%;
    color: var(--ivoire);
    font-size: 22pt;
    font-family: 'Redaction 20';
    font-style: italic;
  }
	/*SCROLL--------------------------------------*/
	.wrapper{width:100%;
	overflow: hidden;}
	/*TITRE IMG----------------------------*/
	.menu-artistes{
    z-index: 3;
    position: absolute;
    top:0px;
    height: 50px;
    width: 100vw;
    background-color: var(--violet);
    padding-top: 0%;
    padding-left: 12px;
		overflow-y: auto;
	}
  .menu-artistes ul{
    display: none;
    margin-top: 13%;
    position: relative;
    padding-left: 0px;
  }
	.menu-artistes .lamue{
    position: relative;
    vertical-align: top;
    color:var(--ivoire);
    font-size: 30pt;
    font-family: 'Redaction 10';
    font-weight: normal;
    display: inline-flex;
    top:-31px;
		margin-top: 30px;
  }
  .menu-artistes .lamue b{
    font-family: 'Redaction 50';
    font-weight: normal;
  }

  .menu-artistes .liquide{
    display: inline-flex;
    color:var(--black);
    font-size: 30pt;
    font-family: 'Redaction 20';
    font-weight: normal;
    font-style: italic;
    vertical-align: top;
    margin-top: -1px;
    margin-left: 5px;
  }
  .menu-artistes .burger{
    position: fixed;
    right: 5px;
    top: 0px;
		display: inline-flex;
  }
  .burger img:hover{
    filter:invert();
    cursor: pointer;
  }
	/*les textes clickables----------------*/
	.bookmarks,.pours {visibility:visible;opacity: 100%;height:auto;
		padding: 0% 1% 1% 1.3%;
		position: relative;
		font-size: 28pt;
		left: 0%;
		top: 0%;
		background-color: transparent;
		font-family: 'Redaction 20';
	}

	.bookmarks li {
	  list-style: none;
		margin: 5px 0;
		color:var(--ivoire);
	}

	.bookmarks a{
		color:var(--ivoire);
		background-color: transparent;
	  font-family:'Redaction 20';
	  text-decoration: none;
	}

	.bookmarks a:hover{
		cursor: pointer;
	  font-family:'Redaction 50';
		font-style: italic;
	}

	.bookmarks a:active{
	  font-family:'Redaction 50';
		font-style: italic;
		color: black;
	}
	/*OURS-------------------------------*/

	.lien-ours{margin-top:100px;	color:var(--ivoire);
	  font-family:'Redaction 20';
	  text-decoration: none;		font-size: 28pt;
}
	.ours{
		position: relative;
		display: none;
		font-size: 28pt;
		left: 0%;
		top: 0%;
		background-color: transparent;
	}
	.pours{margin-top:7%;}
	.pours h2:first-of-type{
		margin-top:0px;
	}
	.pours h2{
		margin-top:20px;
		margin-bottom: 10px;
		font-size: 18pt;
		color: var(--ivoire);
		font-family: 'Redaction 50';
		font-weight: normal;
	}
	.pours ol{
		display: block;
		font-size: 13pt;
		padding: 0px;
		color: var(--ivoire);
		font-family: 'Redaction';
		font-weight: normal;
		margin:0px;
		list-style: none;
	}

		.pours ol li a{
			color:var(--ivoire);
			  font-family:'Redaction 20';
			text-decoration: none;
		}
		.pours ol li a:hover{
			color:var(--ivoire);
			  font-family:'Redaction 50';
				font-style: italic;
			text-decoration: none;
		}
		.pours ol li a:active{
			color:black;
			  font-family:'Redaction 50';
				font-style: italic;
			text-decoration: none;
		}

		.pours{
			visibility: visible;
			display: block;
		}

	/*les images-------------------------------*/

	#zoomburger {display: inline;
		position:fixed;bottom:3%;left:5%}

#zoomburger button {
	background: black;
	border: 1px solid black;
	box-shadow: none;
	border-radius: 0px;
}

}
