/* BASE => peut être à bidouiller si besoin*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
  --ivoire: #fcfced;
  --violet: #8e00ff;
}
html {
	-ms-touch-action: none;
}

body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
	background: var(--violet);
}

body {
	font-size: 12px;
	font-family: ubuntu, helvetica, arial;
/*	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
/* COUV ------------*/

.couv{
	background-color: var(--violet);
	width: 100vw;
	height: 100vh;
	position: relative;
	top:0px;
	left:0px;
	z-index: 3;
}
/*SCROLL--------------------------------------*/

.wrapper {/*conteneur*/
	position: absolute;
	z-index: 1;
	width: 80%;
	height: 100%;
	top: 0;
	right: 0;
	background: var(--ivoire);
	overflow: hidden;
	border: 10px solid #8e00ff;
}

.scroller {/*"carte" du scroll*/
	position: absolute;
	z-index: 1;
	width: 4000px;
	height: 4000px;
	background: var(--ivoire);
  /*bcp de paramètre que j'ai copié collé*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

/*TITRE IMG----------------------------*/
.menu-artistes{
	padding-top:2%;
	padding-left: 1%;
	width: 20%;
}
#titre1{
	position: relative;
	width: 95%;
	margin-top: 1%;
	margin-left: 1%;
}
/*les textes clickables----------------*/
.bookmarks {
	z-index: 2;
	padding: 8% 1% 1% 1.3%;
	position: relative;
	font-size: 2.3vw;
	left: 0%;
	top: 0%;
	background-color: transparent;
	font-family: 'Redaction 20'
}

.bookmarks li {
  list-style: none;
	margin: 5px 0;
	color:var(--ivoire);
}

.bookmarks a{
	color:var(--ivoire);
	background-color: transparent;
  font-family:'Redaction 20';
  text-decoration: none;
}

.bookmarks a:hover{
	cursor: pointer;
  font-family:'Redaction 50';
	font-style: italic;
}

.bookmarks a:active{
  font-family:'Redaction 50';
	font-style: italic;
	color: black;
}

/*les images-------------------------------*/
.temp a{
	color: var(--ivoire);
}
.temp a:active{
	color: var(--ivoire);
	text-decoration: overline;
}
.navigation{
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
.scroller img{
  mix-blend-mode:darken;
  position: fixed;
}
#adelie{
	width: 10%;
	top:10%;
	left:20%;
}
#mina{
	width: 13%;
	top:60%;
	left:80%;
}
#maude{
	width: 15%;
	top:20%;
	left:30%;
}
#carlaetco{
	height: 20%;
	top:20%;
	left:80%;
}
.pjs,#holder{
	position: fixed;
	top:30%;
	left:10%;
	height: 500px;
	width: 500px;
	border-color: var(--ivoire);
}
/*#image{
	width: en %; ou height
	top: en %;
	left:en %;
}*/
