/* BASE => peut être à bidouiller si besoin*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
  --ivoire: #03F669;
  --violet: #E0FEDC;
	--texte: #B5B5B5;
}
html {
	overflow: hidden;
	-ms-touch-action: none;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	background: var(--violet);
}

body {
	font-size: 12px;
	font-family: ubuntu, helvetica, arial;
/*	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
/* COUV ------------*/

.couv{
	background-color: var(--violet);
	width: 100vw;
	height: 100vh;
	position: relative;
	top:0px;
	left:0px;
	z-index: 3;
}

.edito{
	background-color: var(--violet);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	top:0px;
	left:0px;
	padding:0% 2%;
	overflow-y:auto;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.edito p{
	margin-top: 1%;
	color: var(--ivoire);
	font-size: 50pt;
	font-family: 'Redaction 20';
	font-style: italic;
}

.edito::-webkit-scrollbar{
      display: none;  /* Safari and Chrome */
}
/*SCROLL--------------------------------------*/

.wrapper {/*conteneur*/
	position: absolute;
	z-index: 1;
	width: 96%;
	height: 100%;
	top: 0;
	right: 0;
	background: var(--ivoire);
	overflow: hidden;
	border: 0px solid #8e00ff;

}

.scroller {/*"carte" du scroll*/
	position: relative;
	z-index: 1;
	width: 4000px;
	height: 4000px;
	background: var(--ivoire);
  /*bcp de paramètre que j'ai copié collé*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	overflow: hidden;
}

/*TITRE IMG----------------------------*/
.burger{display: none;
	background: var(--ivoire);
	margin-left: 10px;
	margin-top: 10px;
	width:3.5vh;
	height:3.5vh;
	border-radius: 50%;}

#zoomburger {display: none;height:5%}



.menu-artistes{
	padding-top:0%;
	padding-left: 0%;
	width: 20%;
}



.menu-artistes .lamue{
	position: relative;
	vertical-align: top
	line-height: 10px;
	color:var(--ivoire);
	font-size: 50pt;
	text-align: left;
	font-family: 'Redaction 10';
	font-weight: normal;
	margin: 0px;
}
.menu-artistes .lamue b{
	font-family: 'Redaction 50';
	font-weight: normal;
}
.gazeux{
	z-index: 2;
	position: fixed;
	right:1%;
	top:1%;
	color:var(--texte);
	font-size: 5vh;
	font-family: 'Redaction 35';
	font-weight: normal;
	font-style: italic;
}
#titre1{
	position: relative;
	width: 95%;
	margin-top: 1%;
	margin-left: 1%;
}
/*les textes clickables----------------*/
.bookmarks{visibility:hidden;opacity: 0%;height:0px;}
.bookmarksweb{
	z-index: 2;
	position: fixed;
	top:-2.5%;
	left:5%;
	padding:0%;
	font-size: 1.8vw;
	background-color: transparent;
	font-family: 'Redaction 20';
}

.bookmarksweb li{
  list-style: none;
	margin: 5px 0;
	color: var(--texte);
}

.bookmarksweb a{
	color: var(--texte);
	background-color: transparent;
  font-family:'Redaction 20';
  text-decoration: none;
}

.bookmarksweb a:hover{
	cursor: pointer;
  font-family:'Redaction 50';
	font-style: italic;
}

.bookmarksweb a:active{
  font-family:'Redaction 50';
	font-style: italic;
	color: var(--texte);
}
/*OURS-------------------------------*/
.pours{
	visibility: hidden;
	display: none;
}

/*les images-------------------------------*/
.temp a{
	color: var(--ivoire);
}
.temp a:active{
	color: var(--ivoire);
	text-decoration: overline;
}
.navigation{
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
.scroller img{
  mix-blend-mode:normal;
  position: fixed;
}

#agathe{
	width: 24%;
	bottom:25%;
	left:40%;
}

#alicericci{
	width: 20%;
	top:5%;
	right:15%;
}

#aurelia{
	width: 13%;
	bottom:10%;
	right:20%;
}

#claire{
	width: 10%;
	top:2%;
	left:40%;
}

#guillaume{
	width: 18%;
	top:50%;
	right:5%;
}
#julien{
	width: 8%;
	bottom:0%;
	left:40%;
}
#lilly{
	width: 16%;
	top:18%;
	left:52%;
}
#margo{
	width: 17%;
	top:30%;
	left:30%;
}
#deux08heures{
	width: 18%;
	top:9%;
	left:12%;

}
#laetitiagaz{
	width: 8%;
	top:42%;
	left:17%;
}
#valcotin{
	width: 7%;
	bottom:0%;
	right:0%;
}

#haraka{
	position: fixed;
	top:35%;
	left:55%;
}

.pjs,#holderdrice{
	position: fixed;
	top:79%;
	height: 10%;
	left:15%;
	width: auto;
}

.pjs2,#holderphili{
	position: fixed;
	top:23%;
	left:70%;
	height: 400px;
	width: 720px;
}

.audioContainer {
  width: 200px;
  height: 200px;
  background-image: url('assets_gazeux/clara_vermersch/gazeuxfinal.jpg');
  background-size: cover;
  position: relative;
	left:5%;

}

.audioContainer audio{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pjs::before,#holderdrice::before {
  background-color: var(--violet);
  content: '';
  display: block;
  mix-blend-mode: darken;
	position: fixed;
	top:79%;
	height: 500px;
	left:15%;
	width: 500px;

}

.pjs::after,#holderdrice::after {
  background-color: var(--ivoire);
  content: '';
  display: block;
  mix-blend-mode: hard-light;
	position: fixed;
	top:79%;
	height: 500px;
	left:15%;
	width: 500px;
}
/*#image{
	width: en %; ou height
	top: en %;
	left:en %;
}*/
.cercle{
	background: var(--ivoire);
left: 0.8%;
TOP: 1%;
width: 3.5vh;
height: 3.5vh;
border-radius: 50%;
position: fixed;
}
.cercle:hover{
	cursor:pointer;
}
.cercleweb{display:none;	background: var(--ivoire);
	margin-left: 30%;
	margin-top: 10px;
	width: 3.5vh;
	height: 3.5vh;
	border-radius: 50%;
}
	@media only screen and (max-width: 800px){
		.cercleweb{display: block;}
		.gazeux{display: none;}
}
button {background: var(--texte);border: 1px solid var(--texte);box-shadow: none;border-radius: 0px;}

.menuweb{
	position: absolute;
	width: 3%;
	height: 100vh;
	background-color: var(--violet);
	top: 0;
	left: 0px;
	display: flex;
	flex-direction: row;
}
.bandeauweb{
	width: 20%;
	display: inline-flex;
	flex: 1;
}
.depli{
	display:none;
	position: relative;
	background-color: var(--violet);
	height: 100vh;
	width:85%;
}
details:first-of-type{
	margin-top: 20%;
	}
summary::marker {
  content: "";
}
.oursvrai{
	display: none;
}
details.oursvrai{
	margin-left:17%;
	font-size: 3vh;
	color: var(--ivoire);
	font-family: 'Redaction 10';
	text-align: center;


}
.oursvrai ol{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin-top: 6px;
	margin-bottom: 5%;
	line-height: 97%;
}
summary{
 font-weight: bold;
}
.oursvrai ol li a,.oursvrai ol li{
	decoration: none;
	text-decoration: none;
	font-size: 2.4vh;
	color: var(--ivoire);
	font-family: 'Redaction 35';
}
.oursvrai:hover{
	cursor: pointer;
}
.oursvrai ol li a:hover{
	font-style: italic;
	cursor: pointer;

}
.gazeux a{
	text-decoration: none;
	color:black;
}
.gazeux a:hover{
	color:var(--violet);
}
.zoom
