@font-face {
    font-family: 'Redaction 20';
    src: url('Redaction20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('Redaction50-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('Redaction50-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 20';
    src: url('Redaction20-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

